.article{ data: {game_id: no, star: star, tag: tag} }
  .game-title
    %span.game-id= no
    = title
  .game-info
    - tag.split(" ").each do |t|
      %span.tag.fa.fa-tag= " #{t}"
    %a.refer{ href: url } 公式サイト
    %span.stars
      - star.times do |i|
        %i.fa.fa-star
      - (5-star).times do |i|
        %i.fa.fa-star-o
  %hr
  .body
    %div.cover
      - img  = image_src || lorem.image('100x100')
      - link = image_link || "#"
      %a{ href: link }
        %img{ src: img, alt: title, width: 100, height: 100}
    %p= body
